/*
  File: style.css
  Author: Béres Délia
  Copyright: 2023, Béres Délia
  Group: Szoft I-1-E
  Date: 2023-04-08
  Github: https://github.com/deliaberes/ships.git
  Licens: GNU GPL
  */

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-image: url(motorcsonak.jpg) ;
    background-position-x: center;
    1461*822
   
}
.container {
    text-align: right;
    padding: 10mm;
    font-style: italic;
    color: white;

    
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
    
  }
th {
    background-color: #363635;
    color: white;
  }

#ships tr:nth-child(even) {
    background-color: #f2f2f2;
}
table {
    border: 3px solid;
    border-color: rgb(235, 149, 164);
  }

#hajok {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
   
}

footer {
    padding: 10mm;
    font-style: italic;
    margin-top: 5%;
  

}
